<h1>Invoice list - <%= @buyer.username %></h1>

<%= form_tag buyer_invoices_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
<% end %>

<%== pagy_nav(@pagy) %>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Issue date</td>
            <td>Vendor name</td>
            <td colspan="3">Action</td>
        </tr>
    </thead>
    <tbody>
        <% @invoices.each do |invoice| %>
            
            <tr>
                <td><%= invoice.id %></td>
                <td><%= invoice.issue_date %></td>
                <td><%= invoice.vendor_name %></td>
                </tr>
        <% end %>
    </tbody>
</table>

